body {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        top/cover url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

form.container {
    margin-bottom: 5em;
    max-width: 60%;
}

.form-label {
    margin-top: 1em;
    margin-left: 0.5em;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.controls button {
    padding-inline: 2em;
    margin: 1em;
    border-radius: 10px;
}

fieldset img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    transition: .2s ease-in-out;
    border-bottom: 3px solid rgb(23, 213, 23);
}

fieldset input:checked+label img {
    opacity: .7;
    border-bottom: 3px solid red;
}

@media (max-width:632px) {
    form.container {
        max-width: 95%;
    }

    .controls button {
        margin-inline: .5em;
        padding: .5em 1em;
    }
}