body {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        top/cover url('https://images.unsplash.com/photo-1627483262769-04d0a1401487?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

.layout {
    display: flex;
    justify-content: center;
    margin: 5em auto;
}

.card {
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, .25);
    background-color: white;
}

.card-body {
    box-sizing: border-box;
    width: 100%;
    padding: 1em 2em;
    padding-bottom: 0;
}

.card-title {
    font-weight: bold;
    margin: .5em;
    padding: .4em .5em;
}

.card-text {
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 1em;
}

figure {
    width: 70%;
}

img {
    object-fit: cover;
    border-radius: 5px;
}

.camp-cost {
    background-color: #2f2f2f;
    border-radius: 50px;
    max-width: 30%;
    text-align: center;
    padding: .2em;
    margin: .5em auto;
    color: whitesmoke;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.controls button {
    padding-inline: 2em;
    margin: 1em;
    border-radius: 10px;
}

.pane {
    max-width: 30%;
    margin-inline: 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.review form {
    background-color: #25316D;
}

.review section {
    margin: 1em auto;
}

.review label {
    margin: .5em auto;
}

.reviews {
    margin-top: 1em;
    max-width: 70%;
}

.reviews h4 {
    text-align: center;
    color: whitesmoke;
    padding: .5em;
    margin: 1em 3em;
    background-color: #2C3333;
    border: 5px solid white;
}

.review-list {
    display: flex;
    flex-flow: wrap;
    align-items: baseline;
}

.review-item {
    width: 30%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1em;
    margin: .5em;
    background-color: #25316D;
    color: white;
    box-shadow: 1px 1px 5px white;
    overflow: hidden;
}

.review-top {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.review-item i {
    margin: 0;
}

.review-item button {
    border: 1px solid white;
}

.stars-input {
    text-align: center;
    transform: rotateY(180deg);
}

.stars-input input {
    display: none;
}

.stars-input label {
    cursor: pointer;
}

.stars-input label::before {
    content: '\f005';
    font-family: fontAwesome;
    font-size: 2em;
    display: block;
    position: relative;
}

.stars-input label::after {
    content: '\f005';
    font-family: fontAwesome;
    font-size: 2em;
    display: block;
    position: absolute;
    transform: translateY(-100%);
    color: #ffc107;
    text-shadow: 0 0 3px rgba(255, 193, 7, .7);
    opacity: 0;
    transition: .2s ease-in;
}

.stars-input label:hover::after,
.stars-input label:hover~label::after,
.stars-input input:checked~label::after {
    opacity: 1;
}

#map {
    height: 50%;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 10px;
}

@media (max-width:1200px) {
    .layout {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .pane {
        margin-top: 1em;
        max-width: 100%;
    }

    #map {
        height: 30em;
    }

    .review {
        height: 25em;
    }
}

@media (max-width:632px) {
    .layout {
        margin: 1em auto;
    }

    .card-title {
        text-align: center;
    }

    figure {
        width: 95%;
    }

    .camp-cost {
        max-width: 50%;
        margin-top: 1em;
    }

    .card-body {
        padding: 0 .5em;
    }

    .card-text {
        text-align: left;
    }

    .controls button {
        margin-inline: .5em;
        padding: .5em 1em;
    }

    .reviews {
        margin: 0 auto;
        padding: 0;
    }

    .reviews h4 {
        margin: 0 1em;
    }

    .review-list {
        flex-direction: column;
        margin: 1em auto;
    }

    .review-item {
        width: 100%;
        margin-inline: 0;
    }
}