<%- layout('layout/boilerplate') %>
<%- block('head').append('<link rel="stylesheet" href="/maps/map.css">') %>

<div id="map" class="container"></div>
<p class="text-center text-light">Please reload in case bad response</p>
<script src="/maps/cluster.js"></script>